body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #005b5b;
}

p {
    color: white;
}

.team-section, .feedback-section, .advertisement-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

.testimonial-section {
    margin: 20px;
}

.testimonial-box {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.testimonial-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-text {
    padding: 10px;
    border-radius: 8px;
    background-color: aquamarine;
    width: 60%;
    text-align: center;
}

.testimonial-author {
    font-weight: bold;
    font-size: 0.8rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
} 